In [ ]:
A=["Sagar ","Kale","Male","Student"]
B=["9150","TYBSc","B"]

In [ ]:
tuple(A)

('Sagar ', 'Kale', 'Male', 'Student')

In [ ]:
tuple(B)

('9150', 'TYBSc', 'B')

In [ ]:
a=('Sagar', 'Kale', 'Male', 'Student')
b=('9150', 'TYBSc', 'B')

print(type(a))

a
print(a[:3])
print(a[2:])
print(a[3])
print(a[:2])
print(a[1:2])
print(b,"\n")

<class 'tuple'>
('Sagar', 'Kale', 'Male')
('Male', 'Student')
Student
('Sagar', 'Kale')
('Kale',)
('9150', 'TYBSc', 'B')

In [ ]:
for j in a:
    print(j)

Sagar
Kale
Male
Student

In [ ]:
if "TYBSc" in b:
    print("Sagar is in TYBSc")

Sagar is in TYBSc

In [ ]:
c=tuple("Pune")
a+b+c

('Sagar', 'Kale', 'Male', 'Student', '9150', 'TYBSc', 'B', 'P', 'u', 'n', 'e')