In [ ]:
# Question 1
def reverse_string(str):  
    Rev = ""   
    for i in str:  
        Rev = i + Rev  
    return Rev    
     
str = "Sagar"         
print("The original string is: ",str)  
print("The reverse string is",reverse_string(str))

The original string is:  Sagar
The reverse string is ragaS

In [ ]:
# Question 2
Choice1=(int)(input("\n\t Enter your 1st number: "))
Choice2=(int)(input("\n\t Enter your 2st number: "))
Choice3=(int)(input("\n\t Enter your 3st number: "))
Choice4=(int)(input("\n\t Enter your 4st number: "))
print("Maximum number is: ",max(Choice1,Choice2,Choice3,Choice4))
print("Minimum number is:",min(Choice1,Choice2,Choice3,Choice4))

	 Enter your 1st number: 10

	 Enter your 2st number: 20

	 Enter your 3st number: 3

	 Enter your 4st number: 4
Maximum number is:  20
Minimum number is: 3

In [ ]:
# Question 3
Choice1=(int)(input("\n\t Enter your 1st number: "))
Choice2=(int)(input("\n\t Enter your 2st number: "))
Choice3=(int)(input("\n\t Enter your 3st number: "))
Choice4=(int)(input("\n\t Enter your 4st number: "))
Choice=[Choice1,Choice2,Choice3,Choice4]
print("Addition of number is: ",sum(Choice))

	 Enter your 1st number: 30

	 Enter your 2st number: 33

	 Enter your 3st number: 166

	 Enter your 4st number: 122
Addition of number is:  351

In [ ]:

# Question 4
def P1():
    P=12
    Q="sagar"
    R=14+13
print(P1.__code__.co_nlocals)

3

In [ ]:
# Question 5
Even=[22,32,43,54,76,77,67,65]

for Num in Even:
    if Num %2==0:
        print(Num)

22
32
54
76